# ===================================
# EasyTrade Server - Environment Variables
# ===================================

# Server
PORT=5000
NODE_ENV=development

# Database (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=easytrade
DB_USER=postgres
DB_PASSWORD=2005

# JWT Tokens
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJhZG1pbkBlYXN5dHJhZGUudXoiLCJyb2xlIjoiYWRtaW4iLCJuYW1lIjoiQWRtaW4iLCJpYXQiOjE3NzMyNDA5MzksImV4cCI6MTc3MzI0MTgzOX0.iGljLwbnXm0bKr58RY1Vpa0xrWfmlZesMMD87OmAnZs
JWT_REFRESH_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiaWF0IjoxNzczMjQwOTM5LCJleHAiOjE3NzM4NDU3Mzl9.ixSiMDXoccMVwmaHQjYsizA1CwHkt0TOJymdxPdRZts
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Redis (ixtiyoriy)
REDIS_URL=redis://localhost:6379

# CORS - ruxsat etilgan domenlar
CLIENT_URL=http://localhost:3000


# PostgreSQL — Render bergan DATABASE_URL ni shu yerga qo'ying
DATABASE_URL=postgresql://user:password@host:5432/database_name


# Frontend URL — Render static site URL
CLIENT_URL=https://easytrade-frontend.onrender.com
